<div class="container" style="max-width: 800px">
  <p id="notice"><%= notice %></p>

  <h1>Tasks</h1>
  <div class="text-end mb-3">
    <%= link_to 'New Task', new_task_path, class: 'btn btn-outline-primary' %>
  </div>
  <div class="row row-cols-1 g-4">
    <% @tasks.each do |task| %>
      <div class="card">
        <div class="card-body">
          <div class="d-flex w-100 justify-content-between">
            <div class="fw-semibold fs-5 card-title">
              <input class="form-check-input me-1" type="checkbox" value="" id="task-<%= task.id %>">
              <label class="form-check-label" for="task-<%= task.id %>"><%= task.title %></label>
            </div>
            <small><%= task.due_date %></small>
          </div>
          <div style="padding-left: 1.8rem" class="card-text"><%= task.content %></div>
          <!-- <%= link_to 'Show', task %> -->
          <div class="text-end">
            <%= link_to 'Edit', edit_task_path(task), class: 'card-link' %>
            <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
